<div>
    <section class="py-12">
        <div class="container mx-auto px-5 lg:px-0">
            @if (loading()) {
                 <app-loading 
                    type="spinner">
                </app-loading>
            }
            @else if (errorMessage()) {
                <app-empty-state 
                    type="error" 
                    title="Failed to load order details" 
                    [description]="errorMessage()">
                    <button
                        (click)="loadOrders()"
                        class="px-6 py-2.5 bg-ink-950 text-white paragraph-14r rounded-full hover:bg-ink-800 transition">
                        Try again
                    </button>
                </app-empty-state>
            }
            @else if (order() ) {
                <div class="flex flex-row items-center mb-10 gap-6">
                    <h1 class="text-4xl font-semibold">Detail Order #{{ order()?.id }}</h1>
                    <app-status-badge 
                        [status]="order()!.status">
                    </app-status-badge>
                </div>

                <div class="mt-8">
                    <h2 class="text-2xl font-semibold mb-4">
                        Shipping Information
                    </h2>

                    <div class="space-y-2">
                        <p>
                            <span class="font-medium">Recipient:</span>
                            {{ order()?.recipient_name }}
                        </p>

                        <p>
                            <span class="font-medium">Phone:</span>
                            {{ order()?.phone }}
                        </p>

                        <p>
                            <span class="font-medium">Address:</span>
                            {{ order()?.full_address }}
                        </p>

                        <p>
                            <span class="font-medium">Province:</span>
                            {{ order()?.province_name }}
                        </p>

                        <p>
                            <span class="font-medium">City:</span>
                            {{ order()?.city_name }}
                        </p>

                        <p>
                            <span class="font-medium">District:</span>
                            {{ order()?.district_name }}
                        </p>

                        @if (order()?.subdistrict_name) {
                            <p>
                                <span class="font-medium">Subdistrict:</span>
                                {{ order()?.subdistrict_name }}
                            </p>
                        }

                        <p>
                            <span class="font-medium">Postal Code:</span>
                            {{ order()?.postal_code }}
                        </p>
                    </div>
                </div>

                <select
                    [value]="order()!.status"
                    [disabled]="updatingStatus()"
                    (change)="updateStatus($any($event.target).value)"
                    class="p-2 border border-ink-200 rounded-md mt-6 disabled:opacity-50"
                >
                    <option value="pending">Pending</option>
                    <option value="processing">Processing</option>
                    <option value="completed">Completed</option>
                    <option value="cancelled">Cancelled</option>
                </select>

                <div class="mt-8">
                    <h2 class="text-2xl font-semibold mb-4">Items</h2>
                    @for (item of order()?.items; track item.id) {
                        <div class="flex gap-4 border-b py-4">
                            <img 
                                class="w-16 h-16 object-cover rounded-md"
                                [src]="item.product.image_path"
                                [alt]="item.product.name">
                            <div>
                                <p class="font-semibold">{{ item.product.name }}</p>
                                <p>
                                    {{ item.quantity }} x {{ +item.price | currency:'IDR ':'symbol':'1.0-0' }}
                                </p>
                            </div>
                        </div>
                    }
                </div>

            }

        </div>
    </section>
</div>