<button
    [type]="type()"
    [disabled]="loading()"
    class="w-full p-4 bg-black text-white rounded-md disabled:opacity-50 disabled:cursor-not-allowed">
        <span>
            @if (loading()) {
                <div class="flex flex-row gap-3 items-center justify-center">
                    <div
                        class="w-6 h-6 rounded-full border-[3px] border-ink-200 border-t-ink-950 animate-spin"
                    ></div>
                    {{ loadingText() }}
                </div>
            } @else {
                {{ text() }}
            }
        </span>
</button>
