<div>
    <section class="py-12">
        <div class="container mx-auto px-5 lg:px-0">
            <form [formGroup]="searchForm" class="flex flex-row gap-4 mb-12">

                <!-- Input pencarian -->
                <div class="flex-1 flex items-center gap-3 px-4 border border-ink-200 rounded-lg h-12 bg-white focus-within:border-ink-400 transition">
                    <svg class="w-4 h-4 text-ink-400 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                    </svg>
                    <input
                        type="text"
                        class="flex-1 bg-transparent outline-none paragraph-14r text-ink-900 placeholder:text-ink-400"
                        formControlName="search"
                        placeholder="Search products..." />
                </div>
                <!-- Dropdown sort -->
                 <div class="relative">
                    <select
                        class="h-12 px-4 pr-10 border border-ink-200 rounded-lg paragraph-14r text-ink-600 bg-white focus:border-ink-400 transition outline-none appearance-none w-full"
                        formControlName="sortIndex">
                        @for (option of sortOptions; track $index) {
                            <option [value]="$index">{{ option.label }}</option>
                        }
                    </select>

                    <div class="pointer-events-none absolute inset-y-0 right-3 flex items-center">
                        <svg class="w-4 h-4 text-ink-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                    </div>
                </div>

                <!-- Dropdown kategori -->
                <div class="relative">
                    <select
                        class="h-12 px-4 pr-10 border border-ink-200 rounded-lg paragraph-14r text-ink-600 bg-white focus:border-ink-400 transition outline-none appearance-none w-full"
                        formControlName="category">
                        <option value="">All Categories</option>
                        @for (category of categories(); track $index) {
                            <option [value]="category.id">{{ category.name }}</option>
                        }
                    </select>

                    <div class="pointer-events-none absolute inset-y-0 right-3 flex items-center">
                        <svg class="w-4 h-4 text-ink-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                    </div>
                </div>

            </form>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      
                @if (loading()) {
                        <app-loading 
                            class="col-span-full" 
                            [items]="4" 
                            type="skeleton-grid">
                        </app-loading>
                    } @else if (errorMessage()) {
                        <app-empty-state 
                            class="col-span-full"
                            type="error" 
                            title="Failed to load products" 
                            [description]="errorMessage()">
                            <button
                                (click)="loadProducts()"
                                class="px-6 py-2.5 bg-ink-950 text-white paragraph-14r rounded-full hover:bg-ink-800 transition">
                                Try again
                            </button>
                        </app-empty-state>
                    } 
                    @else if (products().length === 0) {
                    <div class="col-span-full">
                        <app-empty-state 
                            type="empty" 
                            title="No products available yet.">
                        </app-empty-state>
                    </div>
                    }
                    @else {
                        @for (product of products(); track product.id) {
                            <a
                            [routerLink]="['/product', product.id]"
                            class="group flex flex-col rounded-2xl border border-ink-200 overflow-hidden hover:shadow-xl  transition-all duration-300">

                                <div class="relative w-full h-[240px] lg:h-auto aspect-square overflow-hidden bg-ink-100">
                                    <img
                                        class="w-full h-full object-cover group-hover:scale-110 transition duration-500 ease-out"
                                        [src]="product.image_path"
                                        [alt]="product.name">
                                    <span class="absolute top-3 left-3 bg-white/90 backdrop-blur label-11m text-ink-900 px-3 py-1 rounded-full">
                                        {{ product.category.name }}
                                    </span>
                                    <div class="absolute inset-0 bg-black/0 group-hover:bg-black/5 transition"></div>
                                </div>

                                <div class="flex flex-col flex-1 p-4">
                                    <p class="heading-16s text-ink-900 capitalize line-clamp-1">{{ product.name }}</p>
                                    <p class="mt-1 paragraph-14r text-ink-500 capitalize line-clamp-2 flex-1">{{ product.description }}</p>

                                    <div class="mt-4 flex items-center justify-between">
                                        <p class="heading-20s text-ink-900">
                                            {{ +product.price | currency:'IDR ':'symbol':'1.0-0' }}
                                        </p>
                                        <span class="w-9 h-9 flex items-center justify-center rounded-full bg-ink-100 group-hover:bg-black group-hover:text-white text-ink-700 transition">
                                            <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        }
                    }

                </div>
                
                <!-- Pagination -->
                 <app-pagination
                    [currentPage]="currentPage()"
                    [lastPage]="lastPage()"
                    (pageChange)="goToPage($event)"
                    [loading]="loading()">
                    
                 </app-pagination>
        </div>
    </section>
</div>
