<footer class="border-t border-zinc-100">
  <div class="container mx-auto px-5 lg:px-0 py-10">

    <!-- Top section -->
    <div class="grid grid-cols-3 gap-8 mb-8">

      <!-- Brand -->
      <div>
        <div class="flex items-center gap-2 mb-4">
            <a routerLink="/" class="flex items-center gap-2.5 no-underline">
                <div class="w-18">
                    <img src="logo.png" alt="Logo" class="w-full h-full object-contain" >
                </div>
            </a>
        </div>
        <p class="text-sm text-zinc-500 leading-relaxed max-w-[220px]">
          Belanja produk berkualitas dengan harga terbaik. Pengiriman cepat ke seluruh Indonesia.
        </p>
      </div>

      <!-- Belanja -->
      <div>
        <p class="text-xs font-medium text-zinc-900 mb-3 tracking-wide">Belanja</p>
        <div class="flex flex-col gap-2">
          <a routerLink="/" class="text-sm text-zinc-500 hover:text-zinc-900 transition no-underline">
            Semua produk
          </a>
          <a routerLink="/" [queryParams]="{ category: 'clothing' }"
            class="text-sm text-zinc-500 hover:text-zinc-900 transition no-underline">
            Clothing
          </a>
          <a routerLink="/" [queryParams]="{ category: 'electronics' }"
            class="text-sm text-zinc-500 hover:text-zinc-900 transition no-underline">
            Electronics
          </a>
          <a routerLink="/" [queryParams]="{ category: 'accessories' }"
            class="text-sm text-zinc-500 hover:text-zinc-900 transition no-underline">
            Accessories
          </a>
        </div>
      </div>

      <!-- Akun -->
      <div>
        <p class="text-xs font-medium text-zinc-900 mb-3 tracking-wide">Akun</p>
        <div class="flex flex-col gap-2">
          <a routerLink="/auth/login"
            class="text-sm text-zinc-500 hover:text-zinc-900 transition no-underline">
            Masuk
          </a>
          <a routerLink="/auth/register"
            class="text-sm text-zinc-500 hover:text-zinc-900 transition no-underline">
            Daftar
          </a>
          <a routerLink="/cart"
            class="text-sm text-zinc-500 hover:text-zinc-900 transition no-underline">
            Keranjang
          </a>
        </div>
      </div>

    </div>

    <!-- Bottom section -->
    <div class="border-t border-zinc-100 pt-4 flex items-center justify-center">
      <p class="text-xs text-zinc-400">© 2026 Zivo. All rights reserved.</p>
    </div>

  </div>
</footer>