<footer class="border-t border-zinc-100 bg-white">
  <div class="container mx-auto px-5 lg:px-0 py-10">

    <div class="grid grid-cols-3 gap-8 mb-8">

      <div>
        <div class="flex items-center gap-2 mb-4">
            <a routerLink="/" class="flex items-center gap-2.5 no-underline">
                <div class="w-18">
                    <img src="logo.png" alt="Logo" class="w-full h-full object-contain" >
                </div>
            </a>
        </div>
        <p class="paragraph-14r text-ink-500 max-w-[220px]">
          Shop quality products at the best prices. Fast shipping all across Indonesia.
        </p>
      </div>

      <div>
        <p class="paragraph-14s text-ink-900 mb-3">Shop</p>
        <div class="flex flex-col gap-2">
          <a routerLink="/" class="paragraph-14r text-ink-500 hover:text-ink-900 transition no-underline">
            All products
          </a>
          <a routerLink="/" [queryParams]="{ category: 'clothing' }"
            class="paragraph-14r text-ink-500 hover:text-ink-900 transition no-underline">
            Clothing
          </a>
          <a routerLink="/" [queryParams]="{ category: 'electronics' }"
            class="paragraph-14r text-ink-500 hover:text-ink-900 transition no-underline">
            Electronics
          </a>
          <a routerLink="/" [queryParams]="{ category: 'accessories' }"
            class="paragraph-14r text-ink-500 hover:text-ink-900 transition no-underline">
            Accessories
          </a>
        </div>
      </div>

      <div>
        <p class="paragraph-14s text-ink-900 mb-3">Account</p>
        <div class="flex flex-col gap-2">
          <a routerLink="/auth/login"
            class="paragraph-14r text-ink-500 hover:text-ink-900 transition no-underline">
            Sign in
          </a>
          <a routerLink="/auth/register"
            class="paragraph-14r text-ink-500 hover:text-ink-900 transition no-underline">
            Sign up
          </a>
          <a routerLink="/cart"
            class="paragraph-14r text-ink-500 hover:text-ink-900 transition no-underline">
            Cart
          </a>
        </div>
      </div>

    </div>

    <div class="border-t border-ink-100 pt-4 flex items-center justify-center">
      <p class="paragraph-12r text-zinc-400">© 2026 Zivo. All rights reserved.</p>
    </div>

  </div>
</footer>