<div>
    <section class="py-12">
        <div class="container mx-auto px-5 lg:px-0">
            <div class="flex flex-col md:flex-row gap-8">
                <div class="w-[65%]">
                    <h1 class="text-3xl font-semibold mb-10">Checkout</h1>
                    <form 
                        [formGroup]="checkoutForm"
                        (ngSubmit)="submitCheckout()"
                        class="flex flex-col gap-4">
                        <div class="grid grid-cols-2 gap-4 md:gap-6">
                            @if (errorMessage()) {
                                <div class="col-span-2">
                                    <p class="text-red-500">
                                        {{ errorMessage() }}
                                    </p>
                                </div>
                            }
                            <app-text-input
                                class="block"
                                [label]="'Customer Name'"
                                [type]="'text'"
                                [placeholder]="'Customer name'"
                                [control]="checkoutForm.controls.customer_name"
                             />
                            <app-text-input
                                class="block"
                                [label]="'Phone'"
                                [type]="'tel'"
                                [placeholder]="'Phone'"
                                [control]="checkoutForm.controls.phone"
                             />
                            <app-text-input
                                class="block"   
                                [label]="'Address'"
                                [type]="'text'"
                                [placeholder]="'Address'"
                                [control]="checkoutForm.controls.address"
                             />
                            <app-loading-button
                                [loading]="loading()"
                                [text]="'Checkout'"
                                [loadingText]="'Processing...'"
                                class="col-span-2"
                                [type]="'submit'">
                            </app-loading-button>
                        </div>
                    </form>
                </div>
                <div class="w-[35%]">
                    <p class="text-3xl font-semibold mb-10">Your Cart</p>
                    <div class="space-y-4">
                        @for (item of cartItems(); track item.product.id) {
                            <div class="flex flex-row items-center gap-4">
                                <div class="relative w-[60px] h-[60px] ">
                                    <img 
                                        class="w-full h-full rounded-sm object-cover"
                                        [src]="item.product.image_path"
                                        [alt]="item.product.name" />
                                    <div 
                                        class="absolute -top-2 -right-2 text-xs text-white bg-black rounded-full w-6 h-6 flex justify-center items-center">
                                        {{ item.quantity }}
                                    </div>
                                </div>
                                <div class="space-y-2 text-xs">
                                    <div class="line-clamp-1">{{ item.product.category.name }}</div>
                                    <div>{{ item.product.name }}</div>
                                </div>
                                <div class="ml-auto">
                                    <p class="text-xl font-semibold">
                                        Rp {{ +item.product.price * item.quantity }}
                                    </p>
                                </div>
                            </div>
                        }

                        @empty {
                            <div>
                                <p class="text-2xl font-semibold">Keranjangmu masih kosong</p>
                            </div>
                        }

                        <div class="flex flex-row items-center justify-between mt-12">
                            <div>SubTotal</div>
                            <div class="text-xl font-semibold">Rp. {{ cartTotal() }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
</div>
